$darkestBlue: #0d1217;
$darkBlue: #0a181c;
$blue: #082429;
$lightBlue: #06424d;
$lightestBlue: #006f73;

$darkestBone: #868c6d;
$darkBone: #8e8f6b;
$bone: #a2a884;
$lightBone: #c8cf9f;
$lightestBone: #fffdd5;



html,
body {
    scrollbar-width: none;
    margin: 0;
    font-family: "Silkscreen", sans-serif;
    image-rendering: pixelated;
}

body {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.75)),
        url("images/Backgrounds/background1.png");
    background-color: $darkestBlue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background {
    position: absolute;
    display: flex;
}

.content {
    display: flex;
    width: 100%;
}

.entrance {
    width: 100%;
}

.slides {
    transition: 1s;
    z-index: 2;
    background-color: black;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

// 1,5625 = 1 px 1

@media (min-aspect-ratio: 16/10) {}

@media (max-aspect-ratio: 16/10) and (min-aspect-ratio: 12/10) {}

@media (max-aspect-ratio: 12/10) {
    body {
        height: 400vw;
        display: flex;
        width: 100vw;
        max-width: 100%;
        justify-content: center;
        overflow-x: hidden;
    }

    .background {

        width: 100vw;
        max-width: 100%;
        height: 400vw;
        background-image: url(images/Backgrounds/mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -99;
    }

    .content {
        display: flex;
        flex-direction: column;
    }



    .images1 {

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 14.0625vw;
        width: 75vw;
        height: 75vw;
    }

    .frame {
        position: absolute;
        background-image: url(images/Backgrounds/frame.png);
        background-repeat: no-repeat;
        background-size: cover;

        z-index: 2;
        width: 75vw;
        height: 75vw;
    }

    .slides {
        z-index: 1;
        position: absolute;
        width: 65.625vw;
        height: 65.625vw;
    }

    .entrance {
        display: flex;
        justify-content: center;
    }

    .text1Frame {
        position: absolute;
        margin-top: 100vw;
        height: 75vw;
        width: 100vw;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("images/Backgrounds/frameText.png");
        background-repeat: no-repeat;
        background-size: cover;

    }

    .text1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: last baseline;
        font-size: 3vw;
        text-align: center;
        z-index: -1;
        background-image: linear-gradient(rgba(0, 0, 0, 0.75));
        height: 65.625vw;
        width: 90.625vw;
    }

    .text1>h1 {
        width: 71.875vw;
        color: $lightestBlue;
        -webkit-text-stroke: 0.3vw $lightBlue;
        background-image: url(images/Backgrounds/underline.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        padding-bottom: 4.6875vw;

    }

    .text1>p {
        width: 71.875vw;
        color: $lightestBlue;
        -webkit-text-stroke: 0.1vw $blue;
    }



}